{% block cms_select_type_widget %}
    {% spaceless %}
    <div class="cms-select-form-type">
        {{- block('cms_select_filter') -}}
        <table {{ block('widget_container_attributes') }}>
            <thead>
            {{- block('cms_select_head') -}}
            </thead>
            <tbody id="cms-select-form-type-items">
            {{- block('cms_select_rows') -}}
            </tbody>
        </table>
    </div>
    {% endspaceless %}
{% endblock %}

{% block cms_select_filter %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" id="cms-select-form-type-typeahead">
            </div>
        </div>
    </div>
{% endblock %}

{% block cms_select_head %}
    <th>ID</th>
    <th>{{ 'title'|trans({}, choice_translation_domain) }}</th>
    {% for name, path in additional_properties %}
        <th>{{ name|trans({}, choice_translation_domain) }}</th>
    {% endfor %}
    <th></th>
{% endblock %}

{% block cms_select_rows %}
    {% for choice in choices %}
        {% set attr = choice.attr %}
        <tr class="cms-select-form-type-row">
            <td>
                {% if loop.first %}
                    <input type="hidden" name={{ form.vars.full_name }} value="{{ choice.value }}" {{ block('attributes') }}>
                {% endif %}
                {{ choice.value }}
            </td>
            <td>
                {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
            </td>
            {% for name, path in additional_properties %}
                <td>
                    {% if path is not empty %}
                        {{ choice.data|propertyAccess(path) }}
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                <a href="#" class="cms-select-form-type-delete" title="{{ action_delete_label }}">
                {% if icon_delete_class is null %}
                    {{ action_delete_label|trans({}, choice_translation_domain) }}
                {% else %}
                    <i class="{{ icon_delete_class }}"></i>
                {% endif %}
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}