.modal-shadow{
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    z-index: 9999;
}
.modal {
    position: fixed;
    background-color: #fff;
    z-index: 10000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px #000;
}
.modal .header{
    position: relative;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #16841b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    color: #fff;
}
.modal .header .close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal .content{
    padding: 10px 20px 10px 20px;
}

.modal .footer {
    padding: 10px 20px 10px 20px;
}